@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [data-theme="oneDarkPro"] {
    --color-background: #21252b;
    --color-typingBackground: #282c34;
    --color-typingText: #999999;
    --color-untypedLetter: #c678dd;
    --color-incorrectLetter: #e5c07b;
    --color-correctLetter: #69b679;
    --color-extraLetter: #abb0b2;
    --color-caret: #528bff;
  }

  [data-theme="monokai"] {
    --color-background: #1e1f1c;
    --color-typingBackground: #272822;
    --color-typingText: #b67534;
    --color-untypedLetter: #ffd3da;
    --color-incorrectLetter: #d72f37;
    --color-correctLetter: #fff;
    --color-caret: #fff;
  }

  [data-theme="pink"] {
    /* convert to hsl  */
    --color-background: #181818;
    --color-typingBackground: #202020;
    --color-typingText: #fd778d;
    --color-untypedLetter: #ffd3da;
    --color-incorrectLetter: #ffc710;
    --color-extraLetter: #fdcddf;
    --color-caret: #fff;
  }

  [data-theme="dark"] {
    --color-background: #060606;
    --color-typingBackground: #181818;
    --color-typingText: #fff;
    --color-untypedLetter: #999999;
    --color-correctLetter: #55ec47;
    --color-incorrectLetter: #f07178;
    --color-extraLetter: #f0c471;
    --color-caret: #fff;
  }

  [data-theme="light"] {
    --color-background: #fcfcfc;
    --color-typingBackground: #f5f5f5;
    --color-typingText: #060606;
    --color-untypedLetter: #999999;
    --color-correctLetter: #000;
    --color-incorrectLetter: #ff4242;
    --color-extraLetter: #999999;
    --color-caret: #000000;
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-typingText);
  }
}
